openapi: 3.2.0
info:
  title: McAfee MVISION Investigations API
  description: McAfee MVISION cloud-native security platform API for endpoint detection and response (EDR), threat prevention, device management, and incident investigation. Provides access to detections, threats, devices, and investigation workflows.
  version: '2.0'
  contact:
    name: McAfee Support
    url: https://www.mcafee.com/enterprise/en-us/support.html
  termsOfService: https://www.mcafee.com/enterprise/en-us/about/legal/terms-of-use.html
servers:
- url: https://api.mvision.mcafee.com
  description: MVISION Cloud Production
security:
- bearerAuth: []
tags:
- name: Investigations
  description: Threat investigation workflows and actions
paths:
  /edr/v2/investigations:
    get:
      operationId: listInvestigations
      summary: McAfee List investigations
      description: Retrieve a list of threat investigations, which group related threats and detections for analysis and response.
      tags:
      - Investigations
      parameters:
      - name: filter[status]
        in: query
        required: false
        description: Filter by investigation status
        schema:
          type: string
          enum:
          - open
          - in_progress
          - closed
      - name: filter[priority]
        in: query
        required: false
        description: Filter by investigation priority
        schema:
          type: string
          enum:
          - low
          - medium
          - high
          - critical
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      responses:
        '200':
          description: List of investigations
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/InvestigationListResponse'
        '401':
          description: Unauthorized
    post:
      operationId: createInvestigation
      summary: McAfee Create an investigation
      description: Create a new investigation to group related threats and detections for collaborative analysis and response.
      tags:
      - Investigations
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - investigations
                    attributes:
                      type: object
                      required:
                      - name
                      properties:
                        name:
                          type: string
                          description: Investigation name
                        description:
                          type: string
                          description: Investigation description
                        priority:
                          type: string
                          enum:
                          - low
                          - medium
                          - high
                          - critical
      responses:
        '201':
          description: Investigation created
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/InvestigationResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
  /edr/v2/remediation/actions:
    post:
      operationId: createRemediationAction
      summary: McAfee Create a remediation action
      description: Initiate a remediation action on one or more endpoints, such as isolating a host, killing a process, or deleting a file.
      tags:
      - Investigations
      requestBody:
        required: true
        content:
          application/vnd.api+json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                      - remediationActions
                    attributes:
                      type: object
                      required:
                      - action
                      - deviceIds
                      properties:
                        action:
                          type: string
                          enum:
                          - isolateHost
                          - releaseHost
                          - killProcess
                          - deleteFile
                          - quarantineFile
                          description: Type of remediation action
                        deviceIds:
                          type: array
                          items:
                            type: string
                          description: Target device IDs
                        parameters:
                          type: object
                          additionalProperties: true
                          description: Action-specific parameters
      responses:
        '202':
          description: Remediation action accepted
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RemediationActionResponse'
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
components:
  schemas:
    InvestigationListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Investigation'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    RemediationActionResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              description: Remediation action ID
            type:
              type: string
              enum:
              - remediationActions
            attributes:
              type: object
              properties:
                action:
                  type: string
                  description: Action type
                status:
                  type: string
                  enum:
                  - pending
                  - in_progress
                  - completed
                  - failed
                  description: Action status
                createdAt:
                  type: string
                  format: date-time
                  description: Creation timestamp
    PaginationMeta:
      type: object
      properties:
        totalCount:
          type: integer
          description: Total number of matching records
        pageLimit:
          type: integer
          description: Current page size limit
        pageOffset:
          type: integer
          description: Current offset
    InvestigationResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Investigation'
    Investigation:
      type: object
      properties:
        id:
          type: string
          description: Investigation ID
        type:
          type: string
          enum:
          - investigations
        attributes:
          type: object
          properties:
            name:
              type: string
              description: Investigation name
            description:
              type: string
              description: Investigation description
            status:
              type: string
              enum:
              - open
              - in_progress
              - closed
              description: Investigation status
            priority:
              type: string
              enum:
              - low
              - medium
              - high
              - critical
              description: Investigation priority
            createdAt:
              type: string
              format: date-time
              description: Creation timestamp
            updatedAt:
              type: string
              format: date-time
              description: Last update timestamp
  parameters:
    pageLimit:
      name: page[limit]
      in: query
      required: false
      description: Maximum number of results to return per page
      schema:
        type: integer
        default: 20
        maximum: 100
    pageOffset:
      name: page[offset]
      in: query
      required: false
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from client credentials grant
externalDocs:
  description: McAfee MVISION Developer Documentation
  url: https://developer.mvision.mcafee.com/
