openapi: 3.2.0
info:
  title: McAfee MVISION Detections API
  description: McAfee MVISION cloud-native security platform API for endpoint detection and response (EDR), threat prevention, device management, and incident investigation. Provides access to detections, threats, devices, and investigation workflows.
  version: '2.0'
  contact:
    name: McAfee Support
    url: https://www.mcafee.com/enterprise/en-us/support.html
  termsOfService: https://www.mcafee.com/enterprise/en-us/about/legal/terms-of-use.html
servers:
- url: https://api.mvision.mcafee.com
  description: MVISION Cloud Production
security:
- bearerAuth: []
tags:
- name: Detections
  description: EDR detection events and alerts
paths:
  /edr/v2/detections:
    get:
      operationId: listDetections
      summary: McAfee List detections
      description: Retrieve EDR detection events, including alerts from behavioral analysis, signature matching, and real-time monitoring across endpoints.
      tags:
      - Detections
      parameters:
      - name: filter[severity]
        in: query
        required: false
        description: Filter by detection severity
        schema:
          type: string
      - name: filter[hostName]
        in: query
        required: false
        description: Filter detections by hostname
        schema:
          type: string
      - name: filter[ruleId]
        in: query
        required: false
        description: Filter by detection rule ID
        schema:
          type: string
      - $ref: '#/components/parameters/pageLimit'
      - $ref: '#/components/parameters/pageOffset'
      responses:
        '200':
          description: Paginated list of detections
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DetectionListResponse'
        '401':
          description: Unauthorized
  /edr/v2/detections/{detectionId}:
    get:
      operationId: getDetection
      summary: McAfee Get a specific detection
      description: Retrieve detailed information about a specific detection event, including process trees, indicators of compromise, and MITRE ATT&CK mapping.
      tags:
      - Detections
      parameters:
      - name: detectionId
        in: path
        required: true
        description: Unique detection identifier
        schema:
          type: string
      responses:
        '200':
          description: Detection details
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/DetectionResponse'
        '401':
          description: Unauthorized
        '404':
          description: Detection not found
components:
  schemas:
    PaginationMeta:
      type: object
      properties:
        totalCount:
          type: integer
          description: Total number of matching records
        pageLimit:
          type: integer
          description: Current page size limit
        pageOffset:
          type: integer
          description: Current offset
    DetectionResponse:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/Detection'
    DetectionListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/Detection'
        meta:
          $ref: '#/components/schemas/PaginationMeta'
    Detection:
      type: object
      properties:
        id:
          type: string
          description: Unique detection ID
        type:
          type: string
          enum:
          - detections
        attributes:
          type: object
          properties:
            ruleName:
              type: string
              description: Detection rule name
            ruleId:
              type: string
              description: Detection rule identifier
            severity:
              type: string
              enum:
              - informational
              - low
              - medium
              - high
              - critical
              description: Detection severity
            detectedAt:
              type: string
              format: date-time
              description: Detection timestamp
            hostName:
              type: string
              description: Hostname where detection occurred
            processName:
              type: string
              description: Triggering process name
            processId:
              type: integer
              description: Process ID
            parentProcessName:
              type: string
              description: Parent process name
            commandLine:
              type: string
              description: Process command line
            sha256:
              type: string
              description: SHA-256 hash of the file
            mitreAttackTactic:
              type: string
              description: MITRE ATT&CK tactic
            mitreAttackTechnique:
              type: string
              description: MITRE ATT&CK technique
  parameters:
    pageLimit:
      name: page[limit]
      in: query
      required: false
      description: Maximum number of results to return per page
      schema:
        type: integer
        default: 20
        maximum: 100
    pageOffset:
      name: page[offset]
      in: query
      required: false
      description: Number of results to skip for pagination
      schema:
        type: integer
        default: 0
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from client credentials grant
externalDocs:
  description: McAfee MVISION Developer Documentation
  url: https://developer.mvision.mcafee.com/
